@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
        min-height: 100vh;
        /* VH (Viewport height) = 100%, donc prend 100% */
        font-family: "Raleway", sans-serif;
        color: black;
}

footer {
    background: black;
    padding: 10vh 0;
    text-align: center;
    color: white;
}

h1 {
    font-family: Raleway;
    font-size: 3rem;
    padding: 15px;
}

h2 {
    font-family: Raleway;
    font-size: 2rem;
}

a {
    text-decoration: none;
}

footer a {
    color: white;
    text-decoration: underline;
}

/* CLASS */

.title {
    width: 15vm;
    height: 5vh;
    display: flex;
    justify-content: space-around;
}

.title img {
    margin: 25px 25px 0 25px;
}

.menu {
    max-height: 500px;
    width: 90%;
    margin: 25px auto;
    font-size: 1.5rem;
}

.menu ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    height: 30px;
}

.menu li {
    list-style: none;
    width: 100%;
    height: 100%;
    padding: 10px 0 0 0;
    text-align: center;
    transition: 0.2s;
}
.menu a, .index-about a {
    color: black;
}

.main {
    margin: 5vh 5vw;
    min-height: 30vh;
}

.main h2 {
    margin: 10px 0;
}